/* ==========================================================================
   #SPACING-VARIABLES
   ========================================================================== */

$spacing-unit: 8px;
$spacing-sides: $spacing-unit * 2;
$spacing-sides\@tablet: $spacing-unit * 3;
$spacing-sides\@desktop: $spacing-unit * 3;

$spacing-xs: $spacing-unit;
$spacing-md: $spacing-unit * 2;
$spacing-lg: $spacing-unit * 3;
$spacing-xl: $spacing-unit * 4;

//border
$border-dashed-grey: 0.1rem dashed $color-gray-20;

//margins and padding
$tiny-width: 0.5rem;
$extra-small-width: 1rem;
$small-width: 2.5rem;
$medium-width: 3rem;
$large-width: 5.6rem;
$extra-large-width: 10rem;
$jumbo-width: 15rem;